@model EjercicioNavidad_UI.Models.ViewModels.ListadoPlantasConListadoCategorias
@using EjercicioNavidad_Entities
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post">
    <select name="categoriaSeleccionada">
        <option hidden selected>Selecciona una categoria</option>
        @foreach (clsCategoria item in Model.ListaCategorias)
        {
            <option value="@item.IdCategoria" selected="@((item.IdCategoria == Model.IdCategoriaSeleccionada) ? "selected" : false)">@item.NombreCategoria</option>
        }
    </select>
    <input type="submit" value="Buscar"/>
</form>
<table class="table">
    <thead>
        
    </thead>
    <tbody>
@foreach (clsPlanta item in Model.ListaPlantas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar Precio", "Edit", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
